root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{bats,bash,sh}]
# indent_style = tab

################################################################################
# Below are shfmt options.                                                     #
# See https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd#examples   #
################################################################################
# --language-variant
shell_variant      = bash
binary_next_line   = false
# --case-indent
switch_case_indent = true
space_redirects    = true
keep_padding       = false
# --func-next-line
function_next_line = false

[configs/gitconfig]
indent_size = 4

[*.{js,jsx,ts}]
; this option just works with prettier, not implemented with editorconfig
max_line_length = 100
indent_style = tab

[*.{diff,md}]
trim_trailing_whitespace = false

[{Makefile,*.mk}]
indent_style = tab
